.sucesso {
    background-color:rgb(189, 236, 234);
}
.amei{
    background-color: rgb(235, 240, 176);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
.naoo{
    background-color: rgb(152, 179, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
.hello {
    font-size: 25px;
    text-align: center;
}
.card {
    float: left;
    height: 780px;
    margin: 115px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sla {
    clear: both;
}
.ataa {
    width: 50%;
    clear: both;
    border: 2px black solid;
    margin-top: 20px;
    margin-left: 378px;
}
.pg {
    float: right;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


